[Unit]
Description=XUIWEBFASTAPI
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/bot/xuiweb
Environment="PATH=/root/bot/xuiweb/venv/bin"

ExecStart=/root/bot/xuiweb/venv/bin/gunicorn --workers 2 --worker-class uvicorn.workers.UvicornWorker --bind 127.0.0.1:8282 run:app
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
